.App {
  text-align: center;
}

.productCard:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1400px) {
  .productCol {
    width: 20% !important;
  }
}

.price {
  font-weight: 700;
  font-size: 20px;
}
.priceMonth {
  background-color: #ffd740;
  border-radius: 5px;
  color: black;
  display: inline-block;
  padding: 2px 10px;
}

.title {
  font-size: 18px;
}

.productCard .btn {
  display: block;
}
